PORT=3000

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/marketplace?schema=public"

# Stripe configuration
STRIPE_SECRET_KEY="sk_test_xxx"
STRIPE_SUCCESS_URL="http://localhost:3000/payments/success"
STRIPE_CANCEL_URL="http://localhost:3000/payments/cancel"
STRIPE_WEBHOOK_SECRET="whsec_xxx"